*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.homeTitle{
    width: 1024px;
    font-size: 20px;
}